.preFooterContainer {
  background-color: var(--background-body);
  padding: 60px 0;
  border-top: 1px solid var(--gray-500);
  position: relative;
  color: var(--white);
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 150px;
  background: var(--gray-950);
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out, border 0.2s;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--color-primary);
  color: var(--white);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.cardIcon {
  font-size: 2rem;
  /*color: var(--color-primary);*/
}