.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 250px;
}

.white { 
  display: block; 
}

.dark  { 
  display: none; 
}

:global(body.light-mode) .white { 
  display: none; 
}

:global(body.light-mode) .dark  { 
  display: block; 
}