.sobreSection {
  padding: 60px 20px;
  background-color: var(--gray-950);
  color: var(--white);
  min-height: 80vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 430px;
}

.mainTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--white);
  text-align: center;
}

.missaoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: stretch;
}

.missaoCard {
  background-color: var(--gray-900); 
  border: 1px solid var(--gray-800); 
  border-radius: 10px;         
  padding: 30px;               
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.missaoCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
  border-color: var(--color-primary);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  color: var(--white);
}

.cardTitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: var(--color-primary);
}

.missaoCard p {
  color: var(--gray-500);
  text-align: justify;
  font-size: 1.1rem;
}

.valuesList {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--gray-500);
  line-height: 1.7;
}

.valuesList li {
  font-weight: 700;
  color: var(--white);
  margin-bottom: 3px;
  font-size: 1.1rem;
}

.valuesList li span {
    color: var(--gray-500);
    font-weight: 400;
}

.aboutSection {
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: 60px auto 60px auto;
  padding: 40px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
  background-color: var(--gray-900); 
}

.aboutText h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-primary);
  text-align: center;
}

.aboutText p {
  color: var(--gray-500);
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 900px) {
  .missaoGrid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .mainTitle {
    text-align: center;
  }
}

.cardIcon {
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  align-self: center;
}